---
import { ActiveTrainingView } from "@/components/active-training/active-training-view";
import AppLayout from "@/layouts/AppLayout.astro";
---

<AppLayout title="Practice - TenseAI">
  <div class="h-full flex flex-col min-h-0">
    <ActiveTrainingView client:load />
  </div>
</AppLayout>
