---
import { AppLogo } from "@/components/layout/app-logo";
import BaseLayout from "./base-layout.astro";

interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

<BaseLayout title={title} className="flex items-center justify-center bg-muted">
  <div class="flex w-full max-w-sm flex-col gap-6 items-center">
    <AppLogo />
    <slot />
  </div>
</BaseLayout>
