---
import { Toaster } from "@/components/ui/sonner";
import { cn } from "@/lib/utils";
import "@/styles/global.css";
import { ClientRouter } from "astro:transitions";

interface Props {
  title: string;
  className?: string;
}

const { title, className } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class={cn("w-screen h-screen overflow-hidden", className)}>
    <ClientRouter />
    <slot />
    <Toaster client:load />
  </body>
</html>
